@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    --bg-prim: black;
    --bg-sec: rgb(15, 15, 15);
    --bg-tetr: rgb(20, 20, 20);

    --border-prim: rgb(87, 87, 87);

    --fc-prim: white;
    
    --acc: rgb(50, 115, 255);
    --warn: rgb(255, 0, 0);
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

body {
    background-color: var(--bg-prim);
    color: var(--fc-prim);
}

main {
    margin-top: 5rem;
    min-height: calc(100dvh - 18rem);
    padding: 4rem 20% 4rem 20%;
}

h1 {
    font-size: clamp(2.5rem, 2dvw, 5rem);
    font-weight: 500;
}

h2 {
    font-size: clamp(1rem, 1.5dvw, 3.75rem);
    font-weight: 600;
}

h3 {
    font-size: clamp(0.5rem, 0.75dvw, 2rem);
    font-weight: 300;
}

h4 {
    font-size: clamp(1.25rem, 1dvw, 3.75rem);
    font-weight: 400;
}

h5 {
    font-size: clamp(3rem, 3dvw, 10rem);
    font-weight: 800;
}

h6 {
    font-size: clamp(4rem, 4dvw, 10rem);
    font-weight: 800;
}

@media screen and (orientation: portrait) {
    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    h5 {
        font-size: 3.5rem;
    }

    h6 {
        font-size: 4.5rem;
    }

    p {
        font-size: 1.5rem;
    }
}


a {
    color: var(--fc-prim);
    text-decoration: none;

    background: linear-gradient(var(--acc) 0 0) 
    bottom center/
    var(--underline-width, 0%) 0.2rem
    no-repeat;
    
    transition: background 0.1s ease-in-out, color 0.1s ease-in-out;
}

a.Warning {
    background: linear-gradient(var(--warn) 0 0)
    bottom center/
    var(--underline-width, 0%) 0.2rem
    no-repeat;
}

a:hover {
    color: var(--acc);
    --underline-width: 100%
}

a.Warning:hover {
    color: var(--warn);
}

p {
    font-size: clamp(1rem, 1dvw, 4rem);
}

.accent {
    color: var(--acc);
}

button {
    background-color: var(--bg-sec);
    color: var(--fc-prim);
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    transition: color 0.1s ease-in-out;
}

button:hover {
    color: var(--acc);
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

footer a {
    text-decoration: underline;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    position: fixed;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 500;
}
    
nav ul {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.accessibilityMenu {
    position: absolute;
    transform: scale(0);
    transition: transform 0.1s ease-in-out;
    background-color: var(--bg-sec);
    padding: 1rem;
    border-radius: 1rem;
}

.accessibilityButton:hover > .accessibilityMenu {
    transform: scale(1);
}

@media screen and (orientation: landscape) {
    nav {
        height: 5rem;
        font-size: clamp(1.25rem, 1dvw, 3.75rem);
        width: 100%;
        top: 0;
    }
    
    nav img.logoImg {
        height: 2rem;
    }
    
    .accessibilityButton {
        margin-right: 2rem;
    }
    
    .accessibilityButton img {
        height: 2rem;
    }
    
    .accessibilityMenu {
        right: 2rem;
        width: 30rem;
        transform-origin: top right;
    }
}

@media screen and (orientation:portrait) {
    main {
        padding: 4rem 5% 4rem 5%;
    }

    nav {
        flex-direction: column;
        height: 100dvh;
        width: 30rem;
        top: 0;
        font-size: 1.5rem;
    }

    nav ul {
        flex-direction: column;
    }

    .accessibilityButton {
        bottom: 2rem;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .accessibilityButton img {
        width: 4rem;
    }

    .accessibilityMenu {
        bottom: 4rem;
        width: 25rem;
        transform-origin: bottom center;
    }
}